<% provide :title, 'About' %>
<div class="center jumbotron">
  <p>This tool is intended to help record options available, choices made, and character growth progression in Persona 5.</p>
  <p>The facts regarding the weather each day, which activities are available, their potential rewards, 
  etc will be fixed by the admin once data entry is complete. After that, you may enter your choices and 
  yields to keep track of your own progress towards a perfect game.</p>

  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>


